.body{
  column-count: 2;
  column-gap: 40px;
  background-color: grey;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Sentiment {
  background-color: aqua;
}

.sidebar{
  background-color: aqua;
}
.App {
  height: 800px;
  background: #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: center;
  }


  .sidebar {
  background-color: aqua;
  width: 200px;
  height: 600px;
  align-content:stretch;
  }

 .toprighthalf {
   background-color: darkgray;
   height: 600px;
   width: 600px;
   overflow: auto;
   box-sizing: border-box;
  
  }

.top { 
  width: 100%; 
  margin:5px; 
  padding: 1em; 
  background: white; 
  display: table;
    clear: both;
} 
.reviews{
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
  background-color: pink;
}
.AverageRatings{
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
  background-color:lightcoral;

}
.Analysis{
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
  background-color: violet;
}

.bottom { 
  width: 100%; 
  height: 40%;
  margin:5px; 
  padding: 1em; 
  background: white;
  

} 

.top  { float:top;  }
.bottom { float:inline-start; } 



